h1,h2,p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   
    margin: 10px;
}

body{
    background-color: #d3d2ed;
    color: #292158;

}
.formulario{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    width: 700px;
    margin: 0px auto;
    padding: 10px;
    border-radius: 5px;
    border-style: double;
    border-width: 5px;
}

.formulario .identificacion{
    text-align: center;
    margin: 20px 20px 20px 20px;
    border: 2px solid #292158;
    border-radius: 5px;
    width: 650px;
}


.formulario .datos{
    text-align: center;
    margin: 20px 20px 20px 20px;
    border: 2px solid #292158;
    border-radius: 5px;
    width: 650px;
}
.confirmacion{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px 20px 20px 20px;
    width: 650px;
}

.botones{
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.botones button{
    background-color: #d3d2ed;
    border: none;
    color: #292158;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

:focus-visible{
    outline: 2px solid #9494b6;
    
}
.formulario .identificacion input, .formulario .identificacion select{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #292158;
    color: #232158;
    width: 300px;
}

.formulario .datos input, .formulario .datos select{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #292158;
    color: #292158;
    
}

.formulario button{
    background-color: #d3d2ed;
    border: none;
    color: #292158;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}





